.service-section > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.service-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-section-header > * + * {
  margin-left: 1.25rem;
}

@media (max-width: 1000px) {
  .service-section-header {
    display: none;
  }
}

.service-section-footer {
  color: var(--c-text-tertiary);
  margin-top: 1rem;
}

.search-field {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.search-field input {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--c-gray-600);
  background-color: transparent;
  padding-left: 1.5rem;
  color: inherit;
}

.search-field svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-field {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.dropdown-field select {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--c-gray-600);
  background-color: transparent;
  padding-right: 1.5rem;
  appearance: none;
  color: var(--c-text-tertiary);
}

.dropdown-field svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-only {
  display: none;
}

@media (max-width: 1000px) {
  .mobile-only {
    display: inline-flex;
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1.25rem;
}

@media (max-width: 700px) {
  .tiles {
    grid-template-columns: 1fr;
  }
}

.tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--c-olive-500);
  color: var(--c-gray-900);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.25s ease;
}

.tile:hover {
  transform: translateY(-5px);
}

.tile:focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
}

.tile:nth-child(2) {
  background-color: var(--c-green-500);
}

.tile:nth-child(2):focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
}

.tile:nth-child(3) {
  background-color: var(--c-gray-300);
}

.tile:nth-child(3):focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

.tile a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.tile a .icon-button {
  color: inherit;
  border-color: inherit;
}

.tile a .icon-button:hover,
.tile a .icon-button:focus {
  background-color: transparent;
}

.tile a .icon-button:hover svg,
.tile a .icon-button:focus svg {
  transform: none;
}

.tile a:focus {
  box-shadow: none;
}

.tile a::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.tile-header {
  display: flex;
  align-items: center;
}

.tile-header svg {
  font-size: 2.5em;
}

.tile-header h3 {
  display: flex;
  flex-direction: column;
  line-height: 1.375;
  margin-left: 0.5rem;
}

.tile-header h3 span:first-child {
  font-weight: 600;
}

.tile-header h3 span:last-child {
  font-size: 0.825em;
  font-weight: 200;
}

.transfer-section {
  margin-top: 2.5rem;
}

.transfer-section-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--c-gray-600);
}

.transfer-section-header h2 {
  font-size: 1.5rem;
}

.filter-options {
  margin-left: 1.25rem;
  padding-left: 1.25rem;
  border-left: 1px solid var(--c-gray-600);
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.filter-options p {
  color: var(--c-text-tertiary);
  font-size: 0.875rem;
}

.filter-options p + * {
  margin-left: auto;
  margin-right: 0.75rem;
}

@media (max-width: 1000px) {
  .filter-options p {
    display: none;
  }
}

.transfers {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.transfer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}

@media (max-width: 1000px) {
  .transfer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.transfer + * {
  margin-top: 2rem;
}

.transfer-logo {
  background-color: var(--c-gray-200);
  border-radius: 4px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer-logo img {
  width: 45%;
}

.transfer-details {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

@media (max-width: 1000px) {
  .transfer-details {
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.transfer-details div {
  width: calc(100% / 3 - 1rem);
}

@media (max-width: 1000px) {
  .transfer-details div {
    width: 100%;
  }
}

.transfer-details div + div {
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .transfer-details div + div {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.transfer-details dd {
  color: var(--c-text-tertiary);
  margin-top: 2px;
}

.transfer-number {
  margin-left: 2rem;
  font-size: 1.125rem;
  flex-shrink: 0;
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .transfer-number {
    margin-left: 0;
    margin-top: 1.25rem;
    width: 100%;
    justify-content: flex-start;
  }
}
